<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="login page, zealot09 blog admin">
    <meta name="author" content="zealot09">
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <link href="/stylesheets/login.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
    <div class="login-panel">
        <h1>Login or register</h1>
        <div class="item">
            <input type="text" name="email" placeholder="Email address" />
        </div>
        <div class="item">
            <input type="text" name="password" placeholder= "Password"/>
        </div>
        <div class="item">
            <button>Continue</button>
        </div>
    </div>
    </div>
</body>
</html>